body{

margin:0;

background:#ffd6e7;

font-family:sans-serif;

display:flex;

justify-content:center;

align-items:center;

height:100vh;

}

.container{

text-align:center;

}

button{

padding:15px 40px;

border:none;

border-radius:30px;

background:#ff4d88;

color:white;

font-size:20px;

cursor:pointer;

}

#surprise{

display:none;

margin-top:30px;

}

img{

width:250px;

border-radius:20px;

}
